#page-create-developer {
  display: flex;
}

#page-create-developer main {
  flex: 1;
}

.create-developer-form {
  width: 800px;
  margin: 64px auto;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  padding: 64px 80px;

  overflow: hidden;
}


.create-developer-form fieldset {
  border: 0;
}


.create-developer-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  border-bottom: 1px solid #D3E2E5;
  padding-bottom: 20px;
  margin-bottom: 20px;
  
}

.create-developer-form fieldset .actions {
  display: flex;
  justify-content: right;
}

.create-developer-form .btn-novo {
  width: 100px;
  height: 50px;
  border: 0;
  cursor: pointer;
  background: #2a91e6;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.create-developer-form .btn-novo:hover {
  background: #1773be;
}

.create-developer-form table {
  margin-top: 20px;
  color: #5C8599;
  border-collapse: collapse;
}

.create-developer-form th, td {
  border: 2px solid #DDD;
  padding: 5px 5px;
}

.create-developer-form th {
  background: #EEE;
}

.create-developer-form .btn-remove {
  width: 70px;
  height: 25px;
  border: 0;
  cursor: pointer;
  background: #f77272;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.create-developer-form .btn-remove:hover {
  background: #f35f5f;
}

.create-developer-form .btn-edit {
  width: 70px;
  height: 25px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.create-developer-form .btn-edit:hover {
  background: #36CF82;
}
